/*Mobile responsitiity first*/
body {
    min-height: 100vh;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: darkgreen;

    margin: 0;
    padding: 0;

    color: black;
}

#pageWrapper {
     display: grid;

 grid-template-areas: 
 'nav ' 
'head '
'foot ' ; 

grid-template-columns: 1fr;
grid-template-rows: 80px 100% 3fr;


}

/*Navigation page*/
.nav-cont {
   width: 100%;

   position: relative;
   left: 0;
   top: 0;

   background-color: #6b93d6;
}

.pageNav {
    padding: 0.3rem;

    margin-bottom: 0.5rem;
    display: flex;

    justify-content: center;
    align-items: center;
}

.pageNav img{
    height: 70px;

    border-radius: 1.4rem;
    flex: 0;
    margin-right: auto;
    margin-top: 0;

    padding: 0;
}

.pageNav input[type="button"]{
    flex: 0 1 45px;
    height: 45px;

    padding: 0;
    margin: 0;

    font-size: 2em;
    background-color: transparent;

    border-radius: 0.6rem;
    border: 1px solid black;

    background-color: green;
}

.Dropdown {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    background-color: green;
    right: 0;
    top: 60px;
    z-index: 1000;
}
.Dropdown ul {
    text-align: start;
}
.Dropdown li {
    list-style: none;
}
.Dropdown a {
    align-self: start;
}

/*Header*/ 
.header-cont {
    grid-area: head;
    position: relative;
}

.header-cont video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    filter: blur(2px);
}



#header-flex {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#homeHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    padding: 4rem;
    border-radius: 0.3rem;
    z-index: 3;
    color: whitesmoke;

    position: relative;
    
    min-height: fit-content;

    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    margin: 0;

    top: 75px;
}


#homeHeader h1 {
    margin: 0.2rem;

    font-size: 1.2rem;
}

#homeHeader p {
    margin: 0;
    font-size: 0.9rem;

    font-weight: 600;
}


/*News*/ 
.news-feed {
    position: fixed;
    padding: 3px;
    transform:translateX(-100%);
    transition: transform 0.3s ease ;

    width: 80%;
    z-index: 4;

    top: 45%;
}

#feed {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    
    text-align: center;

   
   background-color: blanchedalmond;
   border: 2px solid burlywood;
   padding: 1rem;

}

#feed h2 {
    margin: 0;
}

#feed ul {
    display: flex;
 position: relative;
 flex-direction: column;

 padding: 0.1rem;
 margin: 0.2em;
 
}
#feed li {
    list-style: none;
    align-self: start;
}

.news-feed input[type="button"] {
    align-self: end;
    position: absolute;
    right: -60px;
    width: 60px;

    padding: 0.6rem;
    font-size: 1.2rem;
    z-index: 2;

    background-color: rgb(222, 184, 135);
    border: none;
    border-radius: 0.2em;
}

.news-feed input[type="button"]:active{
    background-color: antiquewhite;
}



.openX {
    transform: translateX(0);
}

/*footer*/

.foot-cont {
    grid-area: foot;
    align-self: end;

    background-color: #451b04;
    

}

.footer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    flex: 1;
}
.footer h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0;

    font-size: 1.3rem;

    color: lightblue;
}

.footer p{
    align-self: start;

    font-size: 1 rem;
    
    color: lightgreen;

    font-weight: 500;

    margin: 0.4rem;
}

.footer a {
    text-decoration: none;
    color: lightblue;
}

.footer button{
    margin: 0.8rem;
    padding: 0.8rem;

    border-radius: 0.5rem;

    box-sizing: border-box;

    font-size: 1.2rem;
    background-color: burlywood;
    border: none;

    color: whitesmoke;
}

.footer button::before {
    content: "";

}

.footer button:hover {
    background-color: lightcoral;
}