/*Mobile responsitiity first*/
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;

    
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(4, 64, 4);

    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-x: hidden;
    

}

a{
    color: black;
}

#pageWrapper {
     display: grid;

 grid-template-areas: 
 'nav ' 
'head '
'foot ' ; 

grid-template-columns: 1fr;
grid-template-rows: 80px 100% auto;

}

/*Navigation page*/
.nav-cont {
   width: 100%;

   position: relative;
   left: 0;
   top: 0;
   

   background-color: #6b93d6;
}

.pageNav {
    padding: 15px 20px;
    position: relative;
    top: 0;

    margin-bottom: 0.5rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.TrailLogo {
    color: whitesmoke;

    font-family: 'inter', sans-serif;
    font-weight: 800;
    font-size: 1.2rem;

    letter-spacing: -1.4px;
    line-height: 0.94rem;
    text-shadow: 10px 7px 3px black;
    
}
/*
.pageNav img{

    line-height: 26px;

    border-radius: 1.4rem;
    flex: 0;
    margin-right: auto;
    margin-top: 0;

    padding: 0;
} */

.pageNav input[type="button"]{
    flex: 0 1 45px;
    height: 45px;


    padding: 0;
    margin: 0;

    font-size: 2em;
    

    border-radius: 0.6rem;
    border: none;
    background-color: #6a8ecd; 

    color: whitesmoke;
  
}

.DropDown {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    background-color: #6a8ecd;
    border-radius: 0.4rem;
    right: 0;
    top: 0;
    left: 50%;
    z-index: 1000;

     transform: translateY(-100%);
    transition: transform 0.8s ease-out;
}
.DropDown ul {
    flex: 1;
    margin-left: auto;
    padding: 0.4rem;

    text-align: center;
    padding: 0;
    margin: 0;
}
.DropDown li {
    list-style: none;
    gap: 0.3rem;
    border-bottom: 2px solid black;

    padding: 0.8rem;
}
.DropDown a {
    align-self: start;

    text-decoration: none;
    font-size: 1.2rem;
    gap: 0.4rem;
}

.DropDown a:active {
    color: burlywood;
}

.DropDown a:visited {
    color: black;
}

.openY {
    transform: translateY(0);
    top: 76%;
}

/*Header*/ 
.header-cont {
    grid-area: head;
    position: relative;

    display: flex;
    justify-content: space-around;
    
}

.header-cont video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    filter: blur(2px);
}




#homeHeader {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 4rem;
    border-radius: 0.3rem;
    box-shadow: 2px 3px 25px black;
    z-index: 3;
    color: whitesmoke;

    position: relative;
    
    min-height: fit-content;

    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
    margin: 0;

    top: 30%;
}


#homeHeader h1 {
    margin: 0.2rem;

    font-size: 1.2rem;
    text-transform: uppercase;
}

#homeHeader p {
    margin: 0;
    font-size: 0.9rem;

    font-weight: 600;
}


/*News*/ 
.news-feed {
    position: fixed;
    padding: 3px;
    transform:translateX(-100%);
    transition: transform 0.3s ease ;

    width: 80%;
    z-index: 4;

    top: 20%;

}

#feed {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    
    text-align: center;

   
   background-color: #6b93d6;
   border: 2px solid #6a8ecd;

   box-shadow: 2px 1px 45px;
   border-radius: 0.6rem;
   padding: 0.6rem;

}

#feed h2 {
    margin: 0;
}

#feed ul {
    display: flex;
 position: relative;
 flex-direction: column;

 padding: 0.3rem;
 margin: 0.2em;
 
}
#feed li {
    list-style: none;
    align-self: start;
}

.news-feed input[type="button"] {
    align-self: end;
    position: absolute;
    right: -60px;
    width: 60px;

    padding: 0.6rem;
    font-size: 1.2rem;
    z-index: 4;

    background-color: #6a8ecd;
    border: none;
    border-radius: 0.3em;

    color: whitesmoke;

}

.news-feed input[type="button"]:active{
    background-color: #6b93d6;
}



.openX {
    transform: translateX(0);
}

/*footer*/

.foot-cont {
    grid-area: foot;
    align-content: center;

    background-color: #451b04;

    position: relative;
    bottom: 0;

}

.footer {
    display: flex;
    flex-direction: column;

    text-align: center;
    
    flex: 1;

    padding-bottom: 1rem;

    position: relative;
    
}
.footer h3 {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 1rem;

    font-size: 1.4rem;
    position: relative;

    font-weight: 750;
    line-height: 0.75rem;
    
    letter-spacing: -1px;

    color: whitesmoke;
}

.footer p{
    color: whitesmoke;
    font-weight: 500;
    font-style: italic;

    margin: 0rem;
    padding: 1rem;
}

.footer a {
    text-decoration: none;
    color: lightblue;
}

.foot-nav {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    
    align-items: center;
    margin: 0;
    padding: 1.4rem;
}

.foot-nav li {
    list-style: none;
}
.fa-brands {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;

    box-shadow: 1px 1px 5px black;
}

.fa-tiktok {
    color: whitesmoke;
    background-color: black;
    padding: 0.6rem 0.5rem;
    border-radius: 1rem;

}

.fa-instagram {
    color: whitesmoke;
    background-image: linear-gradient(to bottom, purple, red, orange);
    padding: 0.6rem 0.2rem;
    border-radius: 1rem;
}

/* Contact page */

#pageWrapper-Contact {
    display: grid;
    grid-template-areas: 
    'nav'
    'contact'
    'foot';

    grid-template-columns: 1fr;
    grid-template-rows: 80px 100% auto;
}
#contact-form-cont {
    background-color: #6e7a4f;
    grid-area: contact;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 0.9rem;
}

#contact-form {
    text-align: center;
     background-color: #185e3f;

     padding: 2.5rem 4rem;
     border-radius: 0.4rem;

     color: whitesmoke;

     box-shadow: 2px 2px 40px black;
    
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
   
}
.contact-info div {
    margin-top: 0;
    margin-bottom: 1.3rem;
}

.contact-info label {
    font-size: 1.2rem;
}

.contact-info input{
    width: 80%;
    border-radius: 0.4rem;

    border: none;
    padding: 0.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.contact-info textarea {
    padding: 0.5rem 1rem 4rem 0.4rem;
    margin-top: 0.4rem;
    border-radius: 0.8rem;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.contact-info input[type="submit"]{
    width: auto;

    align-self: center;
    padding: 1rem;

    font-size: 0.9rem;
    background-color: #6a8ecd;
    color: whitesmoke;

    box-shadow: 2px 2px  80px black;
}

